<div id="scenario">
  <p id="notice"><%= notice %></p>

  <h1>Scenarios</h1>

  <%= page_entries_info @scenarios %>

  <div class="container">
    <div class="table-responsive">
      <table class="scenario_table table-bordered">
        <thead>
          <tr>
            <th>シナリオ名</th>
            <th>人数</th>
            <th>時間</th>
            <th>KP難易度</th>
            <th>PL難易度</th>
            <th>作者</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @scenarios.each do |scenario| %>
          <tbody class="scenario_info">
            <tr>
              <td><%= link_to scenario.title, scenario %></td>
              <td><%= scenario.member_num %></td>
              <td><%= scenario.duration %></td>
              <td><%= scenario.kp %></td>
              <td><%= scenario.pl %></td>
              <td><%= link_to User.find(scenario.creator_id).name, '/user/'+scenario.creator_id.to_s %></td>
            </tr>
            <tr>
              <td colspan="6"><%= scenario.promotion %></td>
            </tr>
          </tbody>
          <!-- <td><%= link_to 'Show', scenario %></td>
          <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
          <td><%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <%= link_to 'New Scenario', new_scenario_path %>

  <%= paginate @scenarios %>
</div>
